<p class="message">Nothing to see</p>
<a href="#" class="do-ajax">Do AJAX</a>

<script src="/jquery.js"></script>
<script>
jQuery(function() {
  jQuery(".do-ajax").click(function() {
    jQuery.ajax('/ajax/endpoint', {
      success: function(data) {
        jQuery(".message").text(data);
      }
    });
  });
  jQuery(".message").text("Hello!");
});
</script>
