---
database:
  mysql:
    adapter: mysql2
    host: localhost
    username: transactional_capybara
    password: abcd1234
    database: transactional_capybara
  sqlite:
    adapter:
      active_record: sqlite3
      sequel: sqlite
    host: localhost
    database: tmp/test.db
  postgres:
    adapter: postgresql
    host: localhost
    username: transactional_capybara
    password: abcd1234
    database: transactional_capybara
